{% extends 'blog/base.html' %}

{% block title %}{{ blogpost.title }}{% endblock %}

{% block content %}
<h1>{{ blogpost.title }}</h1>
{% if blogpost.preview %}
    <img src="{{ blogpost.preview.url }}" alt="{{ blogpost.title }}">
{% endif %}
<p>{{ blogpost.content }}</p>
<p>Дата создания: {{ blogpost.created_at|date:"d.m.Y H:i" }}</p>
<p>Просмотров: {{ blogpost.views_count }}</p>

<a href="{% url 'blog:blog_list' %}">Назад к списку</a>
<a href="{% url 'blog:blog_update' blogpost.pk %}">Редактировать</a>
<a href="{% url 'blog:blog_delete' blogpost.pk %}">Удалить</a>
{% endblock %}