<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<div class="features">
    <h1>{{ title }}</h1>
    <p>Добро пожаловать в наш магазин-недвижимости!</p>

    <!-- Блок с последними продуктами -->
    <div class="latest-products">
        <h2>Последние добавленные товары</h2>
            <div class="products-list">
                    <div class="product-item">
                        <h3>{{ product.name }}</h3>
                        <p>Цена: {{ product.price }} руб.</p>
                            <p>{{ product.description|truncatewords:10 }}</p>
                    </div>
            </div>
            <p>Пока нет добавленных товаров.</p>
    </div>
</div>
</head>
<body>

</body>
</html>